<div class="alert callout">
  <p class="text-center"><strong>Updated Website Content: </strong> <button class="button small hollow icon" data-behavior="review-changes"><i class="fa fa-code-fork" aria-hidden="true"></i> Review Changes</button> <button class="button small success icon" data-behavior="publish-site">Push Changes Live <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></p>
</div>
